/* ==================================================
 * 			 		 全局Sass样式
 * ================================================= */

@mixin ell() {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin lineNum($num) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  overflow: hidden;
}



@mixin minHeight($min-height) {
  min-height: $min-height;
  height: auto !important;
  height: $min-height;
}

/* 箭头
arrow(direction,
size,
color);
*/
@mixin arrow($direction,
$size,
$color) {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: $size;
  cursor: pointer;
  @if $direction == top {
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent $color transparent;
    border-top: none;
  }
  @else if $direction == bottom {
    border-style: solid dashed dashed dashed;
    border-color: $color transparent transparent transparent;
    border-bottom: none;
  }
  @else if $direction == right {
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent $color;
    border-right: none;
  }
  @else if $direction == left {
    border-style: dashed solid dashed dashed;
    border-color: transparent $color transparent transparent;
    border-left: none;
  }
}




@mixin colStyle() {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  box-sizing: border-box;
}

@mixin col($number) {
  @for $index from 1 through $number
  {
    .col-#{$index}
    {
      width: percentage(1 / $number * $index);
      @include colStyle();
    }
  }
}

@include col(12);


// 背景图片自适应
@mixin bgAuto($bgUrl) {
  background:url($bgUrl) no-repeat;  
      width:100%;  
      height:100%;  
      background-size:100% 100%;  
      position:absolute;  
      filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$bgUrl,sizingMethod='scale'); 
}

// div定位位置，默认垂直居中
@mixin center($left: -50%, $top: -50%) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate($left,$top);

  // @if not $width and not $height {
  //     transform: translate(-50%, -50%);
  // } @else if $width and $height {
  //     width: $width;
  //     height: $height;
  //     margin: -($width / 2) #{0 0} -($height / 2);
  // } @else if not $height {
  //     width: $width;
  //     margin-left: -($width / 2);
  //     transform: translateY(-50%);
  // } @else {
  //     height: $height;
  //     margin-top: -($height / 2);
  //     transform: translateX(-50%);
  // }
}


//多行文本省略号
@mixin multiLine($lineNum: 3) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lineNum;
  -webkit-box-orient: vertical;
}

