.react__markdown{
    height: 500px;
    width: 100%;
    border: 1px #ccc solid;
}

// 编辑框主体样式
.editor-main-c {
    padding-top: 50px;
    display: flex;
    overflow: hidden;
    .common-container {
      width: 50%;
    }
    .editor-container {
      border-bottom: 1px solid #ddd;
    }
    .preview-container {
      overflow-y: scroll;
      border: 1px solid #ddd;
      // border-top: none;
      .preview-wrapper {
        padding: 20px;
        *:last-child {
          margin-bottom: 0;
        }
        *:first-child {
          margin-top: 0;
        }
      }
    }
  }
  
