.DS_Store

node_modules/

server/node_modules/
server/build/

client/.DS_Store
client/node_modules/
client/dist/
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

managementSystem/node_modules/
managementSystem/dist/

# Editor directories and files
client/.idea
client/.vscode
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

