/* ==================================================
 * 			 		 全局Sass变量
 * ================================================= */
//======= Colors
$white-base:									#ffffff !default;

$gray-light:									#D7D7D7 !default;
$gray-minor:									#9B9B9B !default;
$gray-default:								    #D1D0CD !default;
$gray-default2:                                 #bbbbbb;
$gray-line-default:								#D4D4D4 !default;
$gray-base:	                                    #cccccc;
$gray-nav:                                      #a5a5a5;

$black-base:									#333333 !default;

$yellow-base:									#FFCD00 !default;
$yellow-active:									#FFB72C !default;

$blue-base:										#006ba3 !default;
$blue-drak:										#356DFC !default;
$blue-light:									#A2BBFC !default;

$red-drak:										#FA4C3E !default;
$red-light:										#FFB4B4 !default;

$purple-base:									#8E50F6 !default;
$purple-active:									#7F38F6 !default;
// Primary Color
$primary-color:									#31c27c !default;

// Background color for `<body>`.
$bg-color:										$white-base;
$bg-default:									$gray-default;
$bg-login:										$yellow-base;
$bg-primary:									$yellow-base;
$bg-cancel:										#C9CDD2;
$bg-register:									$purple-base;


// Font  Color
$gray-light-font:								$gray-minor;
$remark-color:									#BABABA;
$blue-font:										$blue-base;
$black-base-font:								$black-base;
$gray-base-font:								#BEBEBE;
$gray-minor-font:								#DCDCDC;
$arrow-font:									$gray-line-default;
$place-holder-font:								#C9CDD2;
//header-common 组件title字色
$header-common-tittle:                          $gray-base;

// Line  Color
$base-line-color:								$gray-light;

// Button Color, Active Color
$default-active:								rgba(#DBDBDB, .5);
$login-active:									$yellow-active;
$primary-active:								$yellow-active;
$register-active:								$purple-active;

// Width, Height, Padding, Margin
$min-width:                     960px;

$padding:                       10px;
$padding-medium:                $padding * 1.5;

$nav_trigger:                   40px;
$nav_trigger_scale:             10px;

$little-font-size:              14px;
$medium-font-size:              24px;
$large-font-size:               36px;
$nav-hover:                     16px;
$tag-font-size:                 16px;

//侧边导航栏宽度
$nav-side-width:                300px;
//头像图片大小
$head-img-size:                 110px;
//news页内容部分上浮距离
$news-content-top:              -50px;
//news宽度
$news-content-width:            60%;


//字体
$font-base:                     PingFangSC-Regular;
$font-big-base:                 Bauhaus93;
$nav-font:                      PingFangSC-Light;
$content-header:                Avenir-Book;