.login__form {
    max-width: 300px;
    padding: 30px 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.login__form--forgot {
    float: right;
}
.login__form--button {
    width: 100%;
}